:root {
	--surface--main: #FFFFFF;
	--surface--light: #FFFFFF;
	--surface--dark: #F5F5F5;
	--onsurface--high-emphasis: rgba(0, 0, 0, .87);
	--onsurface--medium-emphasis: rgba(0, 0, 0, .6);
	--onsurface--disabled: rgba(0, 0, 0, .38);
	--onprimary--high-emphasis: rgba(255, 255, 255, 1);
	--onprimary--medium-emphasis: rgba(255, 255, 255, .74);
	--onprimary--disabled: rgba(255, 255, 255, .38);
	--primary--100: #DAEDC6;
	--primary--200: #C1E1A2;
	--primary--300: #A8D57C;
	--primary--400: #95CC5E;
	--primary--500: #82C341;
	--primary--600: #73B339;
	--primary--700: #5F9F2F;
	--primary--800: #4B8B26;
	--primary--900: #266914;
	--primary: #82C341;
	--primary--050: #F0F8E8;
	--secondary--100: #E0C3E8;
	--secondary--200: #CC9CDA;
	--secondary--300: #B776CA;
	--secondary--400: #A85ABD;
	--secondary--500: #9943B1;
	--secondary--600: #8B3EAA;
	--secondary--700: #7938A1;
	--secondary--800: #693398;
	--secondary--900: #4C2A86;
	--secondary: #4C2A86;
	--secondary--050: #F2E7F5;
	--magenta--100: #edd5e5;
	--magenta--200: #e2b5d3;
	--magenta--300: #d494be;
	--magenta--400: #cd85b5;
	--magenta--500: #c073a5;
	--magenta--600: #a6568b;
	--magenta--700: #8c4373;
	--magenta--800: #77325f;
	--magenta--900: #62224c;
	--magenta: #77245a;
	--magenta--050: #f4e8f0;
	--violet--100: #d0c8e0;
	--violet--200: #c2b7d7;
	--violet--300: #afa2ca;
	--violet--400: #9e8ebd;
	--violet--500: #8772b0;
	--violet--600: #725e9c;
	--violet--700: #5a4781;
	--violet--800: #453367;
	--violet--900: #33264d;
	--violet: #8772b0;
	--violet--050: #e0dbeb;
	--navy--100: #cadae6;
	--navy--200: #b0c8d9;
	--navy--300: #9bbad1;
	--navy--400: #82a7c2;
	--navy--500: #6d98b6;
	--navy--600: #537b97;
	--navy--700: #45667e;
	--navy--800: #345064;
	--navy--900: #2c4455;
	--navy: #345064;
	--navy--050: #e0e8ee;
	--blue--100: #d3e4e6;
	--blue--200: #bfd7d9;
	--blue--300: #abc9cc;
	--blue--400: #a3c4c7;
	--blue--500: #98bbbe;
	--blue--600: #77a2a6;
	--blue--700: #5c8f94;
	--blue--800: #4d7b80;
	--blue--900: #446a6e;
	--blue: #a3c4c7;
	--blue--050: #e2edee;
	--teal--100: #d3e0dc;
	--teal--200: #c1d6cf;
	--teal--300: #a9c7bd;
	--teal--400: #97b8ad;
	--teal--500: #88b3a4;
	--teal--600: #6b998a;
	--teal--700: #538071;
	--teal--800: #426b5e;
	--teal--900: #34594d;
	--teal: #3e6b5c;
	--teal--050: #e4ebe8;
	--green--100: #cedbc5;
	--green--200: #b8cca9;
	--green--300: #a6bf95;
	--green--400: #90ad7d;
	--green--500: #789764;
	--green--600: #668054;
	--green--700: #566b47;
	--green--800: #445639;
	--green--900: #3e4d34;
	--green: #789764;
	--green--050: #e2ebdd;
	--olive--100: #cdd1a5;
	--olive--200: #bdc18d;
	--olive--300: #aeb379;
	--olive--400: #9ea36a;
	--olive--500: #939762;
	--olive--600: #74774d;
	--olive--700: #5f6240;
	--olive--800: #515336;
	--olive--900: #484a30;
	--olive: #5f6240;
	--olive--050: #daddbc;
	--yellow--100: #e6c267;
	--yellow--200: #d9ad41;
	--yellow--300: #cc9f29;
	--yellow--400: #bf921d;
	--yellow--500: #ad8b33;
	--yellow--600: #997b2c;
	--yellow--700: #806624;
	--yellow--800: #66521e;
	--yellow--900: #59471a;
	--yellow: #cc9f29;
	--yellow--050: #f0d490;
	--orange--100: #f2c79b;
	--orange--200: #f0b478;
	--orange--300: #eba45e;
	--orange--400: #e69849;
	--orange--500: #cc8339;
	--orange--600: #bf7326;
	--orange--700: #ab621a;
	--orange--800: #995612;
	--orange--900: #80470f;
	--orange: #cc8339;
	--orange--050: #f6dec5;
	--red--100: #e9a38c;
	--red--200: #e28366;
	--red--300: #d66d4b;
	--red--400: #c25b3a;
	--red--500: #a7482a;
	--red--600: #8e381c;
	--red--700: #7d2e15;
	--red--800: #6d2812;
	--red--900: #5c220f;
	--red: #a7482a;
	--red--050: #f0b9a8;
	--brown--100: #e8e2d1;
	--brown--200: #ded4b6;
	--brown--300: #d4c598;
	--brown--400: #c7b581;
	--brown--500: #c7b581;
	--brown--600: #ad9c68;
	--brown--700: #948351;
	--brown--800: #7a6c40;
	--brown--900: #665931;
	--brown: #7a6c40;
	--brown--050: #f1ede3;
	--black-cool--100: #e4eaeb;
	--black-cool--200: #d7e0e0;
	--black-cool--300: #cbd5d6;
	--black-cool--400: #bdc6c7;
	--black-cool--500: #4f5859;
	--black-cool--600: #434c4d;
	--black-cool--700: #383f40;
	--black-cool--800: #313738;
	--black-cool--900: #252b2c;
	--black-cool: #252b2c;
	--black-cool--050: #f2f5f5;
	--black-warm--100: #e6e4e3;
	--black-warm--200: #d9d7d7;
	--black-warm--300: #cccaca;
	--black-warm--400: #b8b6b6;
	--black-warm--500: #595958;
	--black-warm--600: #4d4b4b;
	--black-warm--700: #403f3e;
	--black-warm--800: #333232;
	--black-warm--900: #2c2b2b;
	--black-warm: #2c2b2b;
	--black-warm--050: #f5f5f5;
}